#twpDateTitle {
  margin: 20px;
  color: rgba(34, 181, 122, 1);
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}

#dateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #ffffff;
}

.circle {
  width: 250px;
  height: 250px;
  background-color: #ffffff; /* Circle color */
  border-radius: 50%;
  border: 1px solid #d9d9d9; /* Outline color and thickness */
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.03); /* Drop shadow */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date-result {
  padding: 0px;
  margin: 0px;
  color: rgba(34, 181, 122, 0.75);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
